<div class="report-module-instance" {% if new_page %}style="page-break-before: always;"{% endif %}>
    <h2>{{ title }}</h2>
    <div class="chart-container">
        {% if data.grafico %}
            <img src="data:image/png;base64,{{ data.grafico }}">
        {% else %}
            <p><i>Grafico de Trafego indisponivel.</i></p>
        {% endif %}
    </div>
    {% if data.mensagem %}
        <p><i>{{ data.mensagem }}</i></p>
    {% endif %}
    {% if data.tabela %}
        <div class="table-responsive">{{ data.tabela|safe }}</div>
    {% elif not data.mensagem %}
        <p><i>Tabela de Trafego indisponivel.</i></p>
    {% endif %}
</div>
